@import url('./common.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined");

main{
    margin:0 auto;
    padding:0 15px;
}


header{
    position: sticky;
    top:0;
    width:100%;
    z-index:9999;
    background-color: #fff;
}


.top{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding:15px 0;
    background-color: #fff;
}
.top .menu{display:none;}

.top > a:nth-of-type(2) > img{
    max-width:72px;
    width:100%;
}
.top > a:nth-of-type(3){display: none;}


.top1{
    width:100%;
    position:relative;
    z-index:999;
    background-color: #fff;
}
.top1 .topSub1{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:900px;
    margin:0 auto;
    padding:20px 0;
    text-align: center;

}
.top1 .topSub1 > li{
    font-size: 18px;
    font-weight: bold;
    width:100%;
    cursor: pointer;
}
.top1 .topSub1 > li > a{
    color:#212121;
    transition:0.5s;
}
.top1 .topSub1 > li > a:hover{color:#00a5d7;}


.topSub2{
    width:100%;
    position:absolute;
    left:0; bottom:0;
    transform:translateY(0%);
    background-color: rgba(0, 165, 215, 0.7);
    transition: 0.5s;
    z-index:-1;
}
.topSub2.active{transform:translateY(100%);}
.topSub2 > ul{
    display:flex;
    justify-content: space-between;
    width:900px;
    margin:0 auto;
    font-size:15px;
    color:rgba(255, 255, 255, 0.5);
    text-align: center;
}
.topSub2 > ul > li{width:100%;}
.topSub2 > ul > li > a{
    display:block;
    color:rgba(255, 255, 255, 0.5);
    padding:15px 0;
    transition:0.5s;
}
.topSub2 > ul > li > a:hover{color:#fff;}



.hide{display:none;}

.top2{display:none;}

.side{display:none;}

.logimg{display:none;}

.agreeimg{display:none;}

.joinimg{display:none;}

.findimg{display:none}



main > div{text-align: center;}

main > div:nth-of-type(2) > b{font-size: 48px;}
main > div:nth-of-type(2) > p{
    font-size: 20px;
    white-space:pre-line;
}

main > ul{
    margin-top:80px; 
    text-align: center;
}
main > ul .ex{margin-bottom: 180px;}
main > ul .ex > p{position: relative;}
main > ul .ex > p > span{
    width:270px;
    position:absolute;
    left:40%; top:40%;
    background-color: rgba(255, 255, 255, 0.45);
    padding:15px;
    font-size:22px;
    color:#000;
    border-radius: 9px;
    transition:.5s;
    cursor:default;
}
main > ul .ex > p > span:hover{background-color: #fff;}
main > ul .ex > p > img{
    max-width:1250px;
    width:100%;
    margin-bottom: 100px;
}

main > ul .ex > b{font-size: 48px;}
main > ul .ex > div{
    font-size: 20px;
    margin-top:40px;
}
main > ul .ex .ex1 > p > br:nth-of-type(1){display:none;}
main > ul .ex .ex1 > p > br:nth-of-type(5){display:none;}
main > ul .ex .ex2 > p > br:nth-of-type(1){display:none;}
main > ul .ex .ex2 > p > br:nth-of-type(4){display:none;}
main > ul .ex .ex3 > p > br:nth-of-type(1){display:none;}



footer{
    background-color: #00a5d7;
    text-align: center;
    padding:10px;
}
footer > p{
    color:white;
    font-size:16px;
}
footer > p:nth-child(1){
    line-height: 2;
    padding-top:40px;
    white-space:pre;
}



@media(max-width:991px){
    
    .hide{
        position:fixed;
        z-index:999999;
        padding:200px 15%;
        background-color: rgba(0,0,0,0.5);
        width:100%; height:100%;
        display: none;
    }
    .hide.active{display: block;}
    .hide > a{
        position:absolute;
        right:1%; top:1%;
        padding:15px;
        font-size:0;
    }
    .hide > a::before{
        content:'\F659';
        font-size:24px;
        color:#fff;
    }
    
    .search{
        border-bottom:1px solid #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .search > input{
        width:100%;
        padding:8px 25px 8px 0;
        background-color: transparent;
        border-width:0 0 1px 0;
        font-size:18px;
        outline: none;    
    }
    .search > input::placeholder{color:#fff;}
    .search > a{
        font-size:0px;
        background-color: transparent;
        border:none;
        color:#fff;
    }
    .search > a::before{
        content:'\F52A';
        font-size:20px;
    }



    header{
        position: sticky;
        left:0; top:0;
        z-index:9999;
        padding:0 15px;
        text-align: center;
        background-color: #fff;
        border-bottom:1px solid #e7e7e7;
    }
    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:10px 0;
    }
    .top .menu{
        width:20px; height:15px;
        position:relative;
        background: none;
        border: none;
        display:block;
    }
    .top .menu > span{
        position: absolute;
        left:0;
        width:100%; height: 1px;
        background-color: #000;
    }
    .top .menu > span:nth-of-type(1){top:0;}
    .top .menu > span:nth-of-type(2){top:50%;}
    .top .menu > span:nth-of-type(3){top:100%;}
    .top > a:nth-of-type(2) > img{
        max-width:54px;
        width:100%;
    }
    .top > a:nth-of-type(3){
        font-size:0;
        display: inline;
    }
    .top > a:nth-of-type(3)::before{
        content:'\F52A';
        font-size:20px;
    }
    
    
    .top1{display:none;}

    .topSub2{display: none;}
    
    .top2{
        display:flex;
        justify-content: flex-start;
        background-color: #fff;
        padding: 10px 15px;
        border-bottom:1px solid #e7e7e7;
    }
    .top2 > a{
        color:#000;
        margin-right: 15px;
        font-size: 12px;
        font-weight: normal;
    }


    
    .side{
        display:none;
        position:fixed;
        z-index:99999;
        left:0; top:0;
        width:100%; height:100%;
        font-size: 14px;
    }
    .side::before{
        content:'';
        background-color: rgba(0,0,0,0.5);
        width:100%; height:100%;
        position:absolute;
        left:0; top:0;
        opacity: 0;
    }
    .side.active{display: block;}
    .side.active::before{
        animation: bg .3s forwards;
    }
    .side.active2::before{
        animation: bg .3s forwards reverse;
    }
    @keyframes bg {
        0%{opacity:0}
        100%{opacity:1}
    }

    .side > a{
        position:absolute;
        left:275px; top:20px;
        font-size: 0;
    }
    .side > a::before{
        content:'\F659';
        font-size:20px;
        color:#fff;
    }
    .subside{
        width:260px; height: 100%;
        background-color: #fff;
    }
    .side.active .subside{
        animation-name:subside_active;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }
    @keyframes subside_active{
        0%{transform: translateX(-100%);}
        100%{transform: translateX(0%);}
    }

    .side.active2 .subside{
        animation-name:subside_active2;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }
    @keyframes subside_active2{
        0%{transform: translateX(0%);}
        100%{transform: translateX(-100%);}
    }
    
    .subside > div{
        background-color: #000;
        padding:20px;
        display: flex;
        justify-content: space-between;
    }
    .subside > div > a{color:#fff;}
    .subside > div > a:nth-of-type(2){font-size: 12px;}
    .subside > ul > li{
        border-bottom:1px solid #e7e7e7;
        cursor:pointer;
        overflow: hidden;
    }
    .subside > ul > li > div{font-size: 13px;}
    .subside > ul > li > p{
        width:100%; height:40px;
        padding:12px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .subside > ul > li > p > a:nth-of-type(2){
        font-size:0;
    }
    .subside > ul > li > p > a:nth-of-type(2)::before{
        content:'\F282';
        font-size:15px;
        transform: rotateX(0deg);
    }
    .subside > ul > li > p > a:nth-of-type(2).active::before{
        transform: rotateX(-180deg);
    }
    .subside > ul > li > div{
        display: none;
        flex-direction: column;
        margin-bottom:15px;
    }

    .subside > ul > li > div > a{
        display:block;
        padding:5px 50px 5px 30px;
    }


    .logimg{
        display:none;
        position:fixed;
        z-index:999999;
        width:100%; height:100%;
        padding:50px 30% 50% 30%;
        background-color: rgba(0,0,0,0.5);
    }
    .logimg.active{display:block;}
    .logimg .login{
        width:370px; height:330px;
        background-color: #fff;
        padding:25px;
        position: relative;
    }
    .logimg .login > h2{
        font-size:24px;
        text-align: center;
        
    }
    .logimg .login > a{
        position:absolute;
        right:15px; top:15px;
        font-size: 0;
    }
    .logimg .login > a:before{
        content:'\F659';
        font-size:16px;
    }
    .logimg .login > form{
        margin-top:25px;
        font-size:13px;
    }
    .logimg .login > form .write > input{
        width:100%;
        padding:12px 16px;
        outline:none;
        border:1px solid #E0E0E0;
    }
    .logimg .login > form .write > input:nth-of-type(1){border-bottom:none;}
    .logimg .login > form > p:nth-of-type(1) > input{margin:10px 0;}
    .logimg .login > form > p:nth-of-type(1) > label{cursor: pointer;}
    .logimg .login > form .btn{
        width:100%;
        border:none;
        background-color: rgb(136, 87, 27);
        color:#fff;
        padding:8px;
        cursor:pointer;
    }
    .logimg .login > form > p:nth-of-type(2){
        display: flex;
        justify-content: space-between;
        margin-top:10px;
    }


    .agreeimg{
        display:none;
        position:fixed;
        z-index:999999;
        width:100%; height:100%;
        padding:30px 25% 20% 25%;
        background-color: rgba(0,0,0,0.5);
    }
    .agreeimg.active{display: block;}
    .agreeimg .agree{
        width:370px; height:560px;
        background-color: #fff;
        padding:25px;
        position: relative;
    }
    .agreeimg .agree > h2{
        font-size:24px;
        text-align: center;
    }
    .agreeimg .agree > a{
        position:absolute;
        right:15px; top:15px;
        font-size: 0;
    }
    .agreeimg .agree > a:before{
        content:'\F659';
        font-size:16px;
    }
    .agreeimg .agree .detail{
        margin-top:25px;
        font-size:13px;
    }
    .agreeimg .agree .detail p{margin-bottom:15px;}
    .agreeimg .agree .detail p label{white-space: pre;}
    .agreeimg .agree .detail label{cursor: pointer;}
    .agreeimg .agree .detail em{
        font-style: normal;
        color:#f00;
    }
    .agreeimg .agree .detail .check1{margin-bottom: 20px;}
    .agreeimg .agree .detail .check1 div, .agreeimg .agree .detail .check2 div{
        width:100%; height:90px;
        border:1px solid #000;
        margin-top:15px;
        overflow-y:scroll;
        white-space: pre-line;
    }
    .agreeimg .agree .choose{
        display: flex;
        justify-content: space-between;
        margin-top:20px;
    }
    .agreeimg .agree .choose > a{
        width:49.5%;
        border:1px solid #e7e7e7;
        padding:10px;
        text-align: center;
    }
    .agreeimg .agree .choose > a:nth-of-type(2){
        background-color: rgb(136, 87, 27);
        color:#fff;
        transition:0.5s;
    }
    .agreeimg .agree .choose > a:nth-of-type(2):hover{color:#000;}



    .joinimg{
        display:none;
        position:fixed;
        z-index:999999;
        width:100%; height:100%;
        padding:20px 25% 30% 25%;
        background-color: rgba(0,0,0,0.5);
    }
    .joinimg.active{display:block;}
    .joinimg .join{
        width:370px; height:480px;
        background-color: #fff;
        padding:25px;
        position: relative;
    }
    .joinimg .join > h2{
        font-size:24px;
        text-align: center;
    }
    .joinimg .join > a{
        position:absolute;
        right:15px; top:15px;
        font-size: 0;
    }
    .joinimg .join > a:before{
        content:'\F659';
        font-size:16px;
    }
    .joinimg .join > div{
        position:relative;
    }
    .joinimg .join > div > p{
        text-align: center;
        margin:20px 0;
    }
    .joinimg .join > div > p > img{
        width:20%;
        border-radius: 100%;
        cursor: pointer;
    }
    .joinimg .join > div > span{
        position:absolute;
        right:35%; bottom:5%;
        font-size:0;
        cursor: pointer;
    }
    .joinimg .join > div > span:before{
        content:'\e412';
        font-size:20px;
        background-color: #999;
        color:#fff;
        padding:7px;
        border-radius: 50%;
    }
    .joinimg .join > form > input{
        width:100%;
        padding:10px;
        outline:none;
        border:1px solid #E0E0E0;
    }
    .joinimg .join > form > input:nth-of-type(2){border-top:none;}
    .joinimg .join > form > input:nth-of-type(3){border-top:none;}
    .joinimg .join > form > p{margin-top:20px;}
    .joinimg .join > form > p > span{
        font-size: 0;
        color:#1A6Dff;
    }
    .joinimg .join > form > p > span::before{
        content: '\F309';
        font-size: 18px;
    }
    .joinimg .join > button{
        width:100%;
        background-color: #363636;
        color:#fff;
        margin-top:20px;
        text-align: center;
        padding:10px;
        cursor: pointer;
    }
    


    .findimg{
        display:none;
        position:fixed;
        z-index:999999;
        width:100%; height:100%;
        padding:20px 25% 70% 25%;
        background-color: rgba(0,0,0,0.5);
    }
    .findimg.active{display:block;}
    .findimg .idfind{
        width:340px; height:250px;
        background-color: #fff;
        position: relative;
    }
    .findimg .idfind > h2{
        display:none;
        font-size:16px;
        text-align: center;
        padding:15px;
        border-bottom: 1px solid #e5e7eb;
    }
    .findimg .idfind > h2.active{display:block;}
    .findimg .idfind > a{
        position:absolute;
        right:15px; top:15px;
        font-size: 0;
    }
    .findimg .idfind > a:before{
        content:'\F659';
        font-size:16px;
    }
    .findimg .idfind .findtwo{
        padding:25px;
    }
    .findimg .idfind .findtwo .selecttwo > div{display:none;}
    .findimg .idfind .findtwo .selecttwo > div.active{display:block;}
    .findimg .idfind .findtwo .selecttwo > div > button{
        width:50%;
        margin:0; padding:7px;
        font-size:14px;
        vertical-align: top;
        cursor: pointer;
    }
    .findimg .idfind .findtwo .selecttwo > div:nth-of-type(1) > button:nth-of-type(1){
        border-width:1px 0 0 1px;
        border-color:#000;
        margin-right:-3px;
        background-color: #fff;
    }
    .findimg .idfind .findtwo .selecttwo > div:nth-of-type(1) > button:nth-of-type(2){
        border-width:1px 1px 1px 1px;
        border-color:#ddd #fff #000 #000;
        background-color: #F3F3F3;
        margin-left:-3px;
    }
    .findimg .idfind .findtwo .selecttwo > div:nth-of-type(2) > button:nth-of-type(1){
        border-width:1px 0 1px 1px;
        border-color:#ddd #ddd #000 #ddd;
        margin-right:-3px;
        background-color: #F3F3F3;
    }
    .findimg .idfind .findtwo .selecttwo > div:nth-of-type(2) > button:nth-of-type(2){
        border-width:1px 1px 0 1px;
        border-color:#000;
        background-color: #fff;
        margin-left:-3px;
    }

    .findimg .idfind .findtwo .con > div{display:none;}
    .findimg .idfind .findtwo .con > div.active{display:block;}
    
    .findimg .idfind .findtwo .con > div > input{
        width:100%; height:40px;
        padding:10px;
        margin:20px 0 10px 0;
        outline:none;
        border:1px solid #E0E0E0;
    }
    .findimg .idfind .findtwo .con > div > button{
        width:100%; height:40px;
        background-color: rgb(136, 87, 27);
        color:#fff;
        border:none;
        cursor: pointer;
    }




    main{padding:15px;}

    main > div:nth-of-type(2) > b{font-size: 26px;}
    main > div:nth-of-type(2) > p{
        font-size: 14px;
        white-space:pre-line;
        margin-top:30px;
    }
    
    
    main > ul .ex{margin-bottom: 20px;}
    main > ul .ex > p{position: relative;}
    main > ul .ex > p > span{
        width:140px;
        position:absolute;
        left:40%; top:50%;
        background-color: rgba(255, 255, 255, 0.45);
        padding:10px 20px 10px 20px;
        font-size:12px;
        color:#000;
        letter-spacing: 1px;
        border-radius: 9px;
        transition:0.5s;
    }
    main > ul .ex > p > span:hover{background-color: rgba(255, 255, 255, 0.45);}
    main > ul .ex > p > img{
        max-width:1250px;
        width:100%;
        margin-bottom: 80px;
    }

    main > ul .ex > b{font-size: 26px;}
    main > ul .ex > div{
        font-size: 14px;
        margin-top:50px;
        line-height: 1.5;
    }
    main > ul .ex .ex1 > p > br:nth-of-type(1){display:inline;}
    main > ul .ex .ex1 > p > br:nth-of-type(4){display:none;}
    main > ul .ex .ex1 > p > br:nth-of-type(5){display:inline;}

    main > ul .ex .ex2 > p > br:nth-of-type(1){display:inline;}
    main > ul .ex .ex2 > p > br:nth-of-type(4){display:inline;}

    main > ul .ex .ex3 > p > br:nth-of-type(1){display:inline;}
    main > ul .ex .ex3 > p > br:nth-of-type(2){display:none;}
    
    main > ul .ex .ex4{margin-bottom:50px;}
    

    footer > p:nth-child(1){
        line-height: 2;
        padding-top:40px;
        white-space: pre-wrap;
    }
}