@import url('./common.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

body{
    background:url("../img/ABOUTUS/67c92355a9ab8.png");
    background-size: 100% 500px;
    background-position: 0 0;
    background-repeat: no-repeat;
}

article,header{
    max-width:1250px;
    margin:0 auto;
    padding:0 15px;
}

.hide{display: none;}


header{
    position: sticky;
    left:0; top:0;
    z-index:9999;
    text-align: center;
}
.top {
    display: flex;
    justify-content: center;
    padding:15px 0;
}
.top .menu{display:none;}

.top > a:nth-of-type(2) > img{
    max-width:72px;
    width:100%;
}
.top > a:nth-of-type(3){display: none;}


.top1{position:relative;}
.top1 .topSub1 ul{
    display:flex;
    justify-content: space-evenly;
    margin:0 auto 0 auto;
    padding:20px 0;
}
.top1 .topSub1 ul > li{
    color:#000;
    font-size: 18px;
    font-weight: bold;
    margin:0 auto;
}
.top1 .topSub1 ul > li > a:hover{color:#00a5d7;}
.top1 .topSub1 ul > li:nth-of-type(1) > a{color:#00a5d7;}
.top1 .topSub2{
    width:100%;
    left:0; bottom:0;
    transform:translateY(-100%);
    background-color: rgba(0, 165, 215, 0.7);
    position:absolute;
    transition: 0.5s;
    opacity: 0;
}
.top1 .topSub2.active{
    opacity: 1;
    transform:translateY(100%);
}
.top1 .topSub2 > ul{
    display:flex;
    justify-content: space-between;
    margin:0 auto 0 auto;
    font-size:15px;
    color:rgba(255, 255, 255, 0.5);
}

.top1 .topSub2 > ul > li{
    margin:0 auto;
}
.top1 .topSub2 > ul > li > a{
    display:block;
    color:#fff;
    padding:15px 0;
}




.top2{display:none;}


h2{
    font-size:48px;
    color:#fff;
    text-align: center;
    margin:100px 0 270px 0;
}


.select{
    font-size:14px;
    display: flex;
    justify-content: center;
    margin-bottom:40px;
}
.select > li > a{
    border:1px solid grey;
    padding:10px 40px;
}
.select > li:nth-of-type(1) > a{border-width:1px 0 1px 1px;}
.select > li:nth-of-type(1) > a{
    background-color: #00a5d7;
    transition: 0.5s;
}
.select > li:nth-of-type(1) > a > span{color:#fff;}
.select > li:nth-of-type(1):hover > a{background-color: transparent;}
.select > li:nth-of-type(1):hover > a > span{color:#000;}


.intro{
    text-align: center;
    white-space: pre-line;
    margin-bottom:60px;
}
.intro > p:nth-of-type(1){
    font-size:34px;
    margin-bottom:30px;
    color:rgb(136, 87, 27);
    font-weight: 700;
}
.intro > img{
    max-width:260px;
    width:100%;
}
.intro > p:nth-of-type(2){
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    margin-top:40px;
}



.list > li{
    display: flex;
    margin:50px 0 50px 0;
    font-weight: 700;
}
.list > li > img{
    max-width:260px;
    width:100%;
    border-radius: 30px;
}
.list > li > div > b{
    width:45px;
    background-color: rgb(136, 87, 27);
    font-size: 30px;
    color:#fff;
    text-align: center;
    padding:6px;
    display:block;
}
.list > li > div > span{
    font-size:18px;
    border-bottom:3px solid #00a5d7;
}
.list > li > div > p{font-size:16px;}
.list > li > div > p:nth-of-type(1){margin-top:30px;}

.list .set1{
    border-bottom:1px dashed #626262;
    padding-bottom:30px;
}
.list .set1 > div{margin:30px 0 0 30px;}
.list .set1 > div > p:nth-of-type(1) > br{display:none;}
.list .set1 > div > p:nth-of-type(2) > br{display:none;}

.list .set2{
    margin-top:0;
    justify-content: space-between;
    border-bottom:1px dashed #626262;
    padding-bottom:30px;
}
.list .set2 > div{
    margin:30px 30px 0 0;
    order:1;
}
.list .set2 > img{order:2}

.list .set3 > div{margin:30px 0 0 30px;}

.list .set4{justify-content: space-between;}
.list .set4 > div{
    margin:0px 30px 0 0;
    order:1;
}
.list .set4 > div::before{
    content: '';
    display: block;
    border-top:1px dashed #626262;
    margin-bottom:40px;
    width:100%;
}
.list .set4 > img{order:2}



.bottom{
    height:450px;
    background-color: #eee;
}


.bottom > p{
    max-width:1250px;
    margin:0 auto;
    color:rgb(136, 87, 27);
    display: flex;
    text-align: center;
    font-size:30px;
    font-weight:700;
}

.bottom > p::before{
    content:'';
    flex-grow: 1;
    background-color: #000;
    height:1px;
    margin:20px 3% 0 0;
    width:50%;
}
.bottom > p::after{
    content:'';
    flex-grow: 1;
    background-color: #000;
    height:1px;
    margin:20px 0 0 3%;
    width:50%;
}
.bottom .hippo{
    width:650px;
    margin:80px auto 0 auto;
    display: flex;
    justify-content: space-evenly;

}
.bottom .hippo > img{
    max-width:224px;
    width:100%;
}



footer{
    background-color: #00a5d7;
    text-align: center;
    padding:10px;
}
footer > p{
    color:white;
    font-size:16px;
}
footer > p:nth-child(1){
    line-height: 2;
    padding-top:40px;
    white-space:pre;
}


@media (max-width:991px){
    body{
        background:url("../img/ABOUTUS/67c92355a9ab8.png");
        background-size: 100% 300px;
        background-position: 0 0;
        background-repeat: no-repeat;
    }


    .hide{
        position:fixed;
        z-index:999999;
        padding:200px 15%;
        background-color: rgba(0,0,0,0.5);
        width:100%; height:100%;
        display: none;
    }
    .hide > a{
        position:absolute;
        right:1%; top:1%;
        padding:15px;
        font-size:0;
    }
    .hide > a::before{
        content:'\F659';
        font-size:24px;
        color:#fff;
    }
    
    .search{
        border-bottom:1px solid #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .search > input{
        width:100%;
        padding:8px 25px 8px 0;
        background-color: transparent;
        border-width:0 0 1px 0;
        font-size:18px;
        outline: none;    
    }
    .search > a{
        font-size:0px;
        background-color: transparent;
        border:none;
    }
    .search > a::before{
        content:'\F52A';
        font-size:20px;
    }



    header{
        position: sticky;
        left:0; top:0;
        z-index:9999;
        padding:0 15px;
        text-align: center;
        background-color: #fff;
        border-bottom:1px solid #e7e7e7;
    }
    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:10px 0;
    }
    .top .menu{
        width:20px; height:15px;
        position:relative;
        background: none;
        border: none;
        display:inline;
    }
    .top .menu > span{
        position: absolute;
        left:0;
        width:100%; height: 1px;
        background-color: #000;
    }
    .top .menu > span:nth-of-type(1){top:0;}
    .top .menu > span:nth-of-type(2){top:50%;}
    .top .menu > span:nth-of-type(3){top:100%;}
    .top > a:nth-of-type(2) > img{
        max-width:54px;
        width:100%;
    }
    .top > a:nth-of-type(3){
        font-size:0;
        display: inline;
    }
    .top > a:nth-of-type(3)::before{font-size:20px;}
    
    .top1{display:none;}
    
    .top2{
        display:flex;
        justify-content: flex-start;
        background-color: #fff;
        padding:10px 15px;
        border-bottom:1px solid #e7e7e7;
    }
    .top2 > a{
        color:#000;
        margin-right: 15px;
        font-size: 12px;
        font-weight: normal;
    }


    h2{
        font-size:30px;
        margin:100px 0 150px 0;
    }
    
    
    .intro > p:nth-of-type(1){font-size:26px;}
    .intro > img{
        max-width:200px;
        width:100%;
    }
    .intro > p:nth-of-type(2){
        font-size: 14px;
        font-weight: 700;
        line-height: 1.5;
    }
    
    
    .list > li{
        display: inline;
        margin:50px 0 50px 0;
        font-weight: 700;
    }
    .list > li > img{
        max-width:240px;
        width:100%;
        border-radius:30px;
        margin-left:30%;
    }
    .list > li > div > b{
        background-color: rgb(136, 87, 27);
        min-width:12%;
        font-size: 20px;
        font-weight: normal;
        color:#fff;
        text-align: left;
        padding:8px;
    }
    .list > li > div > span{
        font-size:15px;
        border:none;
    }
    .list > li > div > span::after{
        content: '';
        display:block;
        border-bottom:2px solid #00a5d7;
        width:15%;
        margin-top:10px;
    }

    .list > li > div > p{font-size:14px;}
    .list > li > div > p:nth-of-type(1){margin-top:60px;}

    .list .set1{border:none;}
    .list .set1 > div{margin:30px 0 50px 15px;}
    .list .set1 > div > p:nth-of-type(1) > br{display:inline;}
    .list .set1 > div > p:nth-of-type(2) > br{display:inline;}

    .list .set2{border:none;}
    .list .set2 > div{margin:30px 30px 50px 15px;}

    
    .list .set3 > div{margin:30px 0 50px 15px;}
    .list .set3 > div > p:nth-of-type(1) > br{display:none;}

    .list .set4{border:none;}
    .list .set4 > div{margin:30px 30px 50px 15px;}
    .list .set4 > div::before{display:none;}
    .list .set4 > div > p > br:nth-of-type(1){display:none;}
    .list .set4 > div > p > br:nth-of-type(2){display:none;}
    
    
    .bottom{padding:30px 15px 15px 15px;}

    .bottom > p{
        color:rgb(136, 87, 27);
        text-align: center;
        font-size:20px;
        font-weight:700;
        display:block;
    }
    
    .bottom > p::before{
        content:'';
        flex-grow: 1;
        background-color: #000;
        height:1px;
        display:block;
        width:100%;
        margin:0 0 10px 0;
    }
    .bottom > p::after{
        content:'';
        flex-grow: 1;
        background-color: #000;
        height:1px;
        display:block;
        width:100%;
        margin:10px 0 0 0;
    }
    .bottom .hippo{
        max-width:650px;
        width:100%;
        display:flex;
        justify-content: space-between;
        margin:80px auto 80px auto;
    }
    .bottom .hippo > img{
        max-width:200px;
        width:100%;
    }
    
    
    footer > p:nth-child(1){
        line-height: 2;
        padding-top:40px;
        white-space: pre-wrap;
    }
}