@import url('./common.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined");

body{
    background-image:url("../img/MOKITO/a857ba348bbb2.png");
    background-size: 100% 500px;
    background-position: 0 0;
    background-repeat: no-repeat;
}



header{
    position: sticky;
    margin:0 auto;
    left:0; top:0;
    z-index:9999;
    background-color: transparent;
    transition:0.5s;
}
header.active{background-color: #fff;}
header.active .top1 > ul > li > a{color:#000;}
header.active .top1 > ul > li > a:hover{color:#00a5d7;}
header.active .top1 > ul > li:nth-of-type(1) > a{color:#00a5d7;}


.top {
    margin:0 auto;
    display: flex;
    justify-content: center;
    padding:15px 0;
}
.top .menu{display:none;}

.top > a:nth-of-type(2) > img{
    max-width:72px;
    width:100%;
}
.top > a:nth-of-type(3){display: none;}


.top1{
    max-width: 1250px;
    margin:0 auto;
    position:relative;
    z-index:9;
}
.top1 > ul{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:900px;
    margin:0 auto;
    padding:20px 0;
    text-align: center;
}
.top1 > ul > li{
    font-size: 18px;
    font-weight: bold;
    width:100%;
    cursor: pointer;
}
.top1 > ul > li > a{
    color:#fff;
    transition:0.5s;
}
.top1 > ul > li > a:hover{color:rgba(201, 224, 253, 0.3);}
.top1 > ul > li:nth-of-type(1) > a{color:#00a5d7;}


.topSub2{
    width:100%;
    left:0; bottom:0;
    transform:translateY(0%);
    background-color: rgba(0, 165, 215, 0.7);
    position:absolute;
    transition: 0.5s;
    opacity: 0;
}
.topSub2.active{
    z-index:999;
    opacity: 1;
    transform:translateY(100%);
}
.topSub2 > ul{
    display:flex;
    justify-content: space-between;
    width:900px;
    margin:0 auto;
    font-size:15px;
    color:rgba(255, 255, 255, 0.5);
    text-align: center;
}
.topSub2 > ul > li{width:100%;}
.topSub2 > ul > li > a{
    display:block;
    color:rgba(255, 255, 255, 0.5);
    padding:15px 0;
    transition:0.5s;
}
.topSub2 > ul > li > a:hover{color:#fff;}



.hide{display:none;}

.top2{display:none;}

.side{display:none;}

.logimg{display:none;}

.agreeimg{display:none;}

.joinimg{display:none;}

.findimg{display:none}


h2{
    font-size:48px;
    color:#fff;
    text-align: center;
    margin:100px 0 270px 0;
}

article > h2{
    font-size:34px;
    color:rgb(136, 87, 27);
    margin:0 0 70px 0;
}


.select{
    font-size:14px;
    display: flex;
    justify-content: center;
    margin-bottom:40px;
}
.select > li > a{
    border:1px solid grey;
    padding:10px 40px;
}
.select > li:nth-of-type(1) > a{transition:0.5s;}
.select > li:nth-of-type(1):hover > a{background-color: rgba(201, 224, 253, 0.3);}
.select > li:nth-of-type(2) > a{
    border-width:1px 1px 1px 0;
    background-color: #00a5d7;
    transition: 0.5s;
}
.select > li:nth-of-type(2) > a > span{color:#fff;}
.select > li:nth-of-type(2):hover > a{background-color: transparent;}
.select > li:nth-of-type(2):hover > a > span{color:#000;}



.list > li, .list .set2 > div{
    display: flex;
    font-weight: 700;
    padding:15px;
}
.list > li > img, .list .set2 > div > img{
    max-width:260px;
    width:100%;
    border-radius: 30px;
}
.list > li > div > b, .list .set2 > div > div > b{
    width:45px;
    background-color: rgb(136, 87, 27);
    font-size: 30px;
    color:#fff;
    text-align: center;
    padding:6px;
    display:block;
}
.list > li > div > span, .list .set2 > div > div > span{
    font-size:18px;
    border-bottom:3px solid #00a5d7;
}
.list > li > p, .list .set2 > div > div > p{font-size:16px;}
.list > li > div > p:nth-of-type(1), .list .set2 > div > div > p:nth-of-type(1){margin-top:30px;}

.list .set1{
    max-width: 1250px;
    margin:0 auto;
}
.list .set1 > div{margin:30px 0 0 30px;}
.list .set2{background-color: rgba(0, 0, 0, 0.05);}
.list .set2 > div{
    max-width: 1250px;
    margin:0 auto;
}
.list .set2 > div > div{
    margin:30px auto 0 0;
    order:1;
}
.list .set2 > div > img{order:2; margin-left:30px;}
.list .set3{
    max-width: 1250px;
    margin:0 auto;
}
.list .set3 > div{margin:30px 0 0 30px;}


.pack{
    margin:0 auto;
    max-width:1250px;
}
.pack > p >img{
    max-width:1130px;
    width:100%;
}
.pack > h2{
    display:flex;
    justify-content: center;
}
.pack > h2::before{
    content:'';
    flex-grow:1;
    background-color: #000;
    height:1px;
    margin:20px 8% 0 0;
    width:20%;
}
.pack > h2::after{
    content:'';
    flex-grow:1;
    background-color: #000;
    height:1px;
    margin:20px 0 0 8%;
    width:20%;
}



footer{
    background-color: #00a5d7;
    text-align: center;
    padding:10px;
}
footer > p{
    color:white;
    font-size:16px;
}
footer > p:nth-child(1){
    line-height: 2;
    padding-top:40px;
    white-space:pre;
}




@media (max-width:991px){
    body{
        background-image:url("../img/MOKITO/a857ba348bbb2.png");
        background-size: 100% 300px;
        background-position: 0 0;
        background-repeat: no-repeat;
    }

    .hide{
        position:fixed;
        padding:200px 15%;
        z-index:999999;
        background-color: rgba(0,0,0,0.5);
        width:100%; height:100%;
        display: none;
    }
    .hide.active{display: block;}
    .hide > a{
        position:absolute;
        right:1%; top:1%;
        padding:15px;
        font-size:0;
    }
    .hide > a::before{
        content:'\F659';
        font-size:24px;
        color:#fff;
    }
    
    
    .search{
        border-bottom:1px solid #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    .search > input{
        width:100%;
        padding:8px 25px 8px 0;
        background-color: transparent;
        border-width:0 0 1px 0;
        font-size:18px;
        outline: none;  
    }
    .search > input::placeholder{color:#fff;}
    .search > a{
        font-size:0px;
        background-color: transparent;
        border:none;
        color:#fff;
    }
    .search > a::before{
        content:'\F52A';
        font-size:20px;
    }


    header{
        position: sticky;
        left:0; top:0;
        z-index:9999;
        padding:0 15px;
        text-align: center;
        background-color: #fff;
        border-bottom:1px solid #e7e7e7;
    }
    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:10px 0;
    }
    .top .menu{
        width:20px; height:15px;
        position:relative;
        background: none;
        border: none;
        display:inline;
    }
    .top .menu > span{
        position: absolute;
        left:0;
        width:100%; height: 1px;
        background-color: #000;
    }
    .top .menu > span:nth-of-type(1){top:0;}
    .top .menu > span:nth-of-type(2){top:50%;}
    .top .menu > span:nth-of-type(3){top:100%;}
    .top > a:nth-of-type(2) > img{
        max-width:54px;
        width:100%;
    }
    .top > a:nth-of-type(3){
        font-size:0;
        display: inline;
    }
    .top > a:nth-of-type(3)::before{font-size:20px;}
    
    .top1{display:none;}

    .topSub2{display: none;}
    
    .top2{
        display:flex;
        justify-content: flex-start;
        background-color: #fff;
        padding:10px 15px;
        border-bottom:1px solid #e7e7e7;
    }
    .top2 > a{
        color:#000;
        margin-right: 15px;
        font-size: 12px;
        font-weight: normal;
    }


    .side{
        display: none;
        position:fixed;
        z-index:99999;
        left:0; top:0;
        padding-right:70%;
        width:100%; height:100%;
        background-color: rgba(0,0,0,0.5);
        font-size: 14px;
    }
    .side.active{
        display: block;
    }
    .side > a{
        position:absolute;
        left:275px; top:20px;
        font-size: 0;
        display:inline;
    }
    .side > a::before{
        content:'\F659';
        font-size:20px;
        color:#fff;
    }
    .side .subside{
        width:260px; height: 100%;
        background-color: #fff;
        transition: 0.5s;
        transform:translateX(-280px);
    }
    .side .subside.active{transform:translateX(0%);}
    .side .subside > div{
        background-color: #000;
        padding:20px;
        display: flex;
        justify-content: space-between;

    }
    .side .subside > div > a{color:#fff;}
    .side .subside > div > a:nth-of-type(2){font-size: 12px;}
    .side .subside > ul > li{
        border-bottom:1px solid #e7e7e7;
        cursor:pointer;
    }
    .side .subside > ul > li > div{font-size: 13px;}
    .side .subside > ul > li > p{
        width:100%; height:40px;
        padding:12px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .side .subside > ul > li > p > a:nth-of-type(2){
        font-size:0;
    }
    .side .subside > ul > li > p > a:nth-of-type(2)::before{
        content:'\F282';
        font-size:15px;
        transform: rotateX(0deg);
    }
    .side .subside > ul > li > p > a:nth-of-type(2).active::before{
        transform: rotateX(-180deg);
    }
    .side .subside > ul > li > div{
        display: none;
        flex-direction: column;
        margin-bottom:15px;
    }
    .side .subside > ul > li > div.active{display: block;}
    .side .subside > ul > li > div.active > a{
        display:block;
        padding:5px 50px 5px 30px;
    }


    .logimg{
        display:none;
        position:fixed;
        z-index:999999;
        width:100%; height:100%;
        padding:50px 30% 50% 30%;
        background-color: rgba(0,0,0,0.5);
    }
    .logimg.active{display:block;}
    .logimg .login{
        width:370px; height:330px;
        background-color: #fff;
        padding:25px;
        position: relative;
    }
    .logimg .login > h2{
        font-size:24px;
        text-align: center;
        color:#000;
        margin:0;
    }
    .logimg .login > a{
        position:absolute;
        right:15px; top:15px;
        font-size: 0;
    }
    .logimg .login > a:before{
        content:'\F659';
        font-size:16px;
    }
    .logimg .login > form{
        margin-top:25px;
        font-size:13px;
    }
    .logimg .login > form .write > input{
        width:100%;
        padding:12px 16px;
        outline:none;
        border:1px solid #E0E0E0;
    }
    .logimg .login > form .write > input:nth-of-type(1){border-bottom:none;}
    .logimg .login > form > p:nth-of-type(1) > input{margin:10px 0;}
    .logimg .login > form > p:nth-of-type(1) > label{cursor: pointer;}
    .logimg .login > form .btn{
        width:100%;
        border:none;
        background-color: rgb(136, 87, 27);
        color:#fff;
        padding:8px;
        cursor:pointer;
    }
    .logimg .login > form > p:nth-of-type(2){
        display: flex;
        justify-content: space-between;
        margin-top:10px;
    }


    .agreeimg{
        display:none;
        position:fixed;
        z-index:999999;
        width:100%; height:100%;
        padding:30px 25% 20% 25%;
        background-color: rgba(0,0,0,0.5);
    }
    .agreeimg.active{display: block;}
    .agreeimg .agree{
        width:370px; height:560px;
        background-color: #fff;
        padding:25px;
        position: relative;
    }
    .agreeimg .agree > h2{
        font-size:24px;
        text-align: center;
        color:#000;
        margin:0;
    }
    .agreeimg .agree > a{
        position:absolute;
        right:15px; top:15px;
        font-size: 0;
    }
    .agreeimg .agree > a:before{
        content:'\F659';
        font-size:16px;
    }
    .agreeimg .agree .detail{
        margin-top:25px;
        font-size:13px;
    }
    .agreeimg .agree .detail p{margin-bottom:15px;}
    .agreeimg .agree .detail p:nth-of-type(1) label{white-space: pre;}
    .agreeimg .agree .detail label{cursor: pointer;}
    .agreeimg .agree .detail em{
        font-style: normal;
        color:#f00;
    }
    .agreeimg .agree .detail div{
        width:100%; height:90px;
        border:1px solid #000;
        overflow-y:scroll;
        white-space: pre-line;
    }
    .agreeimg .agree .choose{
        display: flex;
        justify-content: space-between;
        margin-top:20px;
    }
    .agreeimg .agree .choose > a{
        width:49.5%;
        border:1px solid #e7e7e7;
        padding:10px;
        text-align: center;
    }
    .agreeimg .agree .choose > a:nth-of-type(2){
        background-color: rgb(136, 87, 27);
        color:#fff;
        transition:0.5s;
    }
    .agreeimg .agree .choose > a:nth-of-type(2):hover{color:#000;}



    .joinimg{
        display:none;
        position:fixed;
        z-index:999999;
        width:100%; height:100%;
        padding:20px 25% 30% 25%;
        background-color: rgba(0,0,0,0.5);
    }
    .joinimg.active{display:block;}
    .joinimg .join{
        width:370px; height:480px;
        background-color: #fff;
        padding:25px;
        position: relative;
    }
    .joinimg .join > h2{
        font-size:24px;
        text-align: center;
        color:#000;
        margin:0;
    }
    .joinimg .join > a{
        position:absolute;
        right:15px; top:15px;
        font-size: 0;
    }
    .joinimg .join > a:before{
        content:'\F659';
        font-size:16px;
    }
    .joinimg .join > div{
        position:relative;
    }
    .joinimg .join > div > p{
        text-align: center;
        margin:20px 0;
    }
    .joinimg .join > div > p > img{
        width:20%;
        border-radius: 100%;
        cursor: pointer;
    }
    .joinimg .join > div > span{
        position:absolute;
        right:35%; bottom:5%;
        font-size:0;
        cursor: pointer;
    }
    .joinimg .join > div > span:before{
        content:'\e412';
        font-size:20px;
        background-color: #999;
        color:#fff;
        padding:7px;
        border-radius: 50%;
    }
    .joinimg .join > form > input{
        width:100%;
        padding:10px;
        outline:none;
        border:1px solid #E0E0E0;
    }
    .joinimg .join > form > input:nth-of-type(2){border-top:none;}
    .joinimg .join > form > input:nth-of-type(3){border-top:none;}
    .joinimg .join > form > p{margin-top:20px;}
    .joinimg .join > form > p > span{
        font-size: 0;
        color:#1A6Dff;
    }
    .joinimg .join > form > p > span::before{
        content: '\F309';
        font-size: 18px;
    }
    .joinimg .join > button{
        width:100%;
        background-color: #363636;
        color:#fff;
        margin-top:20px;
        text-align: center;
        padding:10px;
        cursor: pointer;
    }
    


    .findimg{
        display:none;
        position:fixed;
        z-index:999999;
        width:100%; height:100%;
        padding:20px 25% 70% 25%;
        background-color: rgba(0,0,0,0.5);
    }
    .findimg.active{display:block;}
    .findimg .idfind{
        width:340px; height:250px;
        background-color: #fff;
        position: relative;
    }
    .findimg .idfind > h2{
        display:none;
        font-size:16px;
        text-align: center;
        padding:15px;
        border-bottom: 1px solid #e5e7eb;
        color:#000;
        margin:0;
    }
    .findimg .idfind > h2.active{display:block;}
    .findimg .idfind > a{
        position:absolute;
        right:15px; top:15px;
        font-size: 0;
    }
    .findimg .idfind > a:before{
        content:'\F659';
        font-size:16px;
    }
    .findimg .idfind .findtwo{
        padding:25px;
    }
    .findimg .idfind .findtwo .selecttwo > div{display:none;}
    .findimg .idfind .findtwo .selecttwo > div.active{display:block;}
    .findimg .idfind .findtwo .selecttwo > div > button{
        width:50%;
        margin:0; padding:7px;
        font-size:14px;
        vertical-align: top;
        cursor: pointer;
    }
    .findimg .idfind .findtwo .selecttwo > div:nth-of-type(1) > button:nth-of-type(1){
        border-width:1px 0 0 1px;
        border-color:#000;
        margin-right:-3px;
        background-color: #fff;
    }
    .findimg .idfind .findtwo .selecttwo > div:nth-of-type(1) > button:nth-of-type(2){
        border-width:1px 1px 1px 1px;
        border-color:#ddd #ddd #000 #000;
        background-color: #F3F3F3;
        margin-left:-3px;
    }
    .findimg .idfind .findtwo .selecttwo > div:nth-of-type(2) > button:nth-of-type(1){
        border-width:1px 0 1px 1px;
        border-color:#ddd #ddd #000 #ddd;
        margin-right:-3px;
        background-color: #F3F3F3;
    }
    .findimg .idfind .findtwo .selecttwo > div:nth-of-type(2) > button:nth-of-type(2){
        border-width:1px 1px 0 1px;
        border-color:#000;
        background-color: #fff;
        margin-left:-3px;
    }

    .findimg .idfind .findtwo .con > div{display:none;}
    .findimg .idfind .findtwo .con > div.active{display:block;}
    
    .findimg .idfind .findtwo .con > div > input{
        width:100%; height:40px;
        padding:10px;
        margin:20px 0 10px 0;
        outline:none;
        border:1px solid #E0E0E0;
    }
    .findimg .idfind .findtwo .con > div > button{
        width:100%; height:40px;
        background-color: rgb(136, 87, 27);
        color:#fff;
        border:none;
        cursor: pointer;
    }



    h2{
        font-size:30px;
        margin:80px 0 150px 0;
    }


    article > h2{font-size:26px;}


    .list > li, .list .set2 > div{
        display: flex;
        flex-direction: column;
        margin-bottom:80px;
        font-weight: 700;
        padding:15px;
    }
    .list > li > img, .list .set2 > div > img{
        margin:0 auto;
        max-width:260px;
        width:100%;
        border-radius: 30px;
    }
    .list > li > div > b, .list .set2 > div > div > b{
        background-color: rgb(136, 87, 27);
        min-width:12%;
        font-size: 20px;
        font-weight: normal;
        color:#fff;
        text-align: left;
        padding:8px;
    }
    .list > li > div > span, .list .set2 > div > div > span{
        font-size:15px;
        border:none;
    }
    .list > li > div > span::after, .list .set2 > div > div > span::after{
        content: '';
        display:block;
        border-bottom:2px solid #00a5d7;
        width:15%;
        margin-top:10px;
    }
    
    .list > li > p, .list .set2 > div > div > p{font-size:14px;}

    .list li > div > p:nth-of-type(1), .list .set2 > div > div > p:nth-of-type(1) {margin-top:70px;}
    
    .list .set1 > div{margin:30px 0 0 30px;}
    .list .set2 > div{
        margin:30px 30px 0 0;
        order:2;
    }
    .list .set2 > div > div > p > br{display: none;}
    .list .set2 > div > img{
        order:1;
        width:100%;
        margin:0 auto;
    }
    .list .set3 > div{margin:30px 0 0 30px;}
    .list .set3 > div > p:nth-of-type(1) > br{display: none;}



    .pack{margin-bottom:50px;}
    .pack > p >img{
        max-width:1130px;
        width:100%;
    }
    .pack > h2{margin-bottom:30px;}
    .pack > h2::before{display: none;}
    .pack > h2::after{display: none;}


    footer > p:nth-child(1){
        line-height: 2;
        padding-top:40px;
        white-space: pre-wrap;
    }
}