@import url('./common.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

body{
    background-image:url("../img/MOKITO/a857ba348bbb2.png"), url("../img/MOKITO/aea8a5.png");
    background-size: 100% 500px, 100% 400px;
    background-position: 0 0,0 1100px;
    background-repeat: no-repeat;
}

main,header{
    max-width:1250px;
    margin:0 auto;
}


.hide{
    position:fixed;
    padding:200px 15%;
    z-index:999999;
    background-color: rgba(0,0,0,0.5);
    width:100%; height:100%;
    display: none;
}
.hide > a{
    position:absolute;
    right:1%; top:1%;
    padding:15px;
    font-size:0;
}
.hide > a::before{
    content:'\F659';
    font-size:24px;
    color:#fff;
}


.search{
    border-bottom:1px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search > input{
    width:100%;
    padding:8px 25px 8px 0;
    background-color: transparent;
    border-width:0 0 1px 0;
    font-size:18px;
    outline: none;    
}
.search > a{
    font-size:0px;
    background-color: transparent;
    border:none;
}
.search > a::before{
    content:'\F52A';
    font-size:20px;
}


header{
    position: sticky;
    left:0; top:0;
    z-index:9999;
    text-align: center;
}
.top {
    display: flex;
    justify-content: center;
    padding:15px;
}
.top .menu{
    width:25px; height:20px;
    position:relative;
    background: none;
    border: none;
    display:none;
}
.top .menu > span{
    position: absolute;
    left:0;
    width:100%; height: 1px;
    background-color: #000;
}
.top .menu > span:nth-of-type(1){top:0;}
.top .menu > span:nth-of-type(2){top:50%;}
.top .menu > span:nth-of-type(3){top:100%;}
.top > a:nth-of-type(2) > img{
    max-width:72px;
    width:100%;
}
.top > a:nth-of-type(3){
    font-size:0;
    display: none;
}
.top > a:nth-of-type(3)::before{font-size:20px;}


.top1{
    display:flex;
    justify-content: space-evenly;
    margin:0 auto 0 auto;
}
.top1 > li > a{
    color:#fff;
    font-size: 18px;
    font-weight: bold;
}
.top1 > li > div > a{
    display:none;
    font-size:15px;
    color:rgba(255, 255, 255, 0.5);
}
.top1 > li > a:hover{
    color:#00a5d7;
}
.top1 > li:nth-of-type(1) > a{color:#00a5d7;}


.top2{
    display:flex;
    justify-content: space-evenly;
    margin:0 auto 0 auto;
    display:none;
}
.top2 > a{
    color:#000;
    font-size: 18px;
    font-weight: bold;
}


h2{
    font-size:48px;
    color:#fff;
    text-align: center;
    margin:100px 0 270px 0;
}

article > h2{
    font-size:34px;
    color:rgb(136, 87, 27);
    margin:0 0 70px;
}


.select{
    font-size:14px;
    display: flex;
    justify-content: center;
    margin-bottom:40px;
}
.select > li > a{
    border:1px solid grey;
    padding:10px 40px;
}
.select > li:nth-of-type(2) > a{border-width:1px 1px 1px 0;}
.select > li:nth-of-type(2) > a{
    background-color: #00a5d7;
    transition: 0.5s;
}
.select > li:nth-of-type(2) > a > span{color:#fff;}
.select > li:nth-of-type(2):hover > a{background-color: transparent;}
.select > li:nth-of-type(2):hover > a > span{color:#000;}



.list > li{
    display: flex;
    margin-bottom:80px;
    font-weight: 700;
    padding:15px;
}
.list > li > img{
    max-width:260px;
    width:100%;
    border-radius: 30px;
}
.list > li > div > b{
    width:45px;
    background-color: rgb(136, 87, 27);
    font-size: 30px;
    color:#fff;
    text-align: center;
    padding:6px;
    display:block;
}
.list > li > div > span{
    font-size:18px;
    border-bottom:3px solid #00a5d7;
}
.list > li > p{font-size:16px;}
.list > li > div > p:nth-of-type(1){margin-top:30px;}

.list .set1 > div{margin:30px 0 0 30px;}
.list .set2 > div{
    margin:30px auto 0 0;
    order:1;
}
.list .set2 > img{order:2; margin-left:30px;}
.list .set3 > div{margin:30px 0 0 30px;}



.pack{margin-bottom:50px;}
.pack > p >img{
    max-width:1130px;
    width:100%;
}
.pack > h2{
    display:flex;
    justify-content: center;
}
.pack > h2::before{
    content:'';
    flex-grow:1;
    background-color: #000;
    height:1px;
    margin:20px 8% 0 0;
    width:20%;
}
.pack > h2::after{
    content:'';
    flex-grow:1;
    background-color: #000;
    height:1px;
    margin:20px 0 0 8%;
    width:20%;
}



footer{
    background-color: #00a5d7;
    text-align: center;
    padding:10px;
}
footer > p{
    color:white;
    font-size:16px;
}
footer > p:nth-child(1){
    line-height: 2;
    padding-top:40px;
    white-space:pre;
}




@media (max-width:991px){
    body{
        background-image:url("../img/MOKITO/a857ba348bbb2.png"), url("../img/MOKITO/aea8a5.png");
        background-size: 100% 300px, 100% 600px;
        background-position: 0 0,0 1100px;
        background-repeat: no-repeat;
    }


    .hide{
        position:fixed;
        padding:200px 15%;
        z-index:999999;
        background-color: rgba(0,0,0,0.5);
        width:100%; height:100%;
        display: none;
    }
    .hide > a{
        position:absolute;
        right:1%; top:1%;
        padding:15px;
        font-size:0;
    }
    .hide > a::before{
        content:'\F659';
        font-size:24px;
        color:#fff;
    }
    
    
    .search{
        border-bottom:1px solid #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .search > input{
        width:100%;
        padding:8px 25px 8px 0;
        background-color: transparent;
        border-width:0 0 1px 0;
        font-size:18px;
        outline: none;    
    }
    .search > a{
        font-size:0px;
        background-color: transparent;
        border:none;
    }
    .search > a::before{
        content:'\F52A';
        font-size:20px;
    }


    header{
        position: sticky;
        left:0; top:0;
        z-index:9999;
        padding:0 15px;
        text-align: center;
        background-color: #fff;
        border-bottom:1px solid #e7e7e7;
    }
    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:10px 0;
    }
    .top .menu{
        width:20px; height:15px;
        background: none;
        border: none;
        display:inline;
    }
    .top .menu > span{
        position: absolute;
        left:0;
        width:100%; height: 1px;
        background-color: #000;
    }
    .top .menu > span:nth-of-type(1){top:0;}
    .top .menu > span:nth-of-type(2){top:50%;}
    .top .menu > span:nth-of-type(3){top:100%;}
    .top > a:nth-of-type(2) > img{
        max-width:54px;
        width:100%;
    }
    .top > a:nth-of-type(3){
        font-size:0;
        display: inline;
    }
    .top > a:nth-of-type(3)::before{font-size:20px;}

    
    .top1{
        display:none;
        justify-content: space-evenly;
        margin:0 auto 0 auto;
    }
    .top1 > li > a{
        color:#fff;
        font-size: 18px;
        font-weight: bold;
    }
    .top1 > li > div > a{
        display:none;
        font-size:15px;
        color:rgba(255, 255, 255, 0.5);
    }
    .top1 > li > a:hover{
        color:#00a5d7;
    }
    .top1 > li:nth-of-type(1) > a{color:#00a5d7;}
    
    .top2{
        display:flex;
        justify-content: flex-start;
        background-color: #fff;
        padding:10px;
        border-bottom:1px solid #e7e7e7;
    }
    .top2 > a{
        color:#000;
        margin-right: 15px;
        font-size: 12px;
        font-weight: normal;
    }

    h2{
        font-size:30px;
        color:#fff;
        text-align: center;
        margin:80px 0 150px 0;
    }

    article > h2{
        font-size:26px;
        color:rgb(136, 87, 27);
        margin:0 0 70px;
    }


    .select{
        font-size:14px;
        display: flex;
        justify-content: center;
        margin-bottom:40px;
    }
    .select > li > a{
        border:1px solid grey;
        padding:10px 40px;
    }
    .select > li:nth-of-type(2) > a{border-width:1px 1px 1px 0;}
    .select > li:nth-of-type(2) > a{
        background-color: #00a5d7;
        transition: 0.5s;
    }
    .select > li:nth-of-type(2) > a > span{color:#fff;}
    .select > li:nth-of-type(2):hover > a{background-color: transparent;}
    .select > li:nth-of-type(2):hover > a > span{color:#000;}



    .list > li{
        display: flex;
        flex-direction: column;
        margin-bottom:80px;
        font-weight: 700;
        padding:15px;
    }
    .list > li > img{
        margin:0 auto;
        max-width:260px;
        width:100%;
        border-radius: 30px;
    }
    .list > li > div > b{
        background-color: rgb(136, 87, 27);
        min-width:12%;
        font-size: 20px;
        font-weight: normal;
        color:#fff;
        text-align: left;
        padding:8px;
    }
    .list > li > div > span{
        font-size:15px;
        border:none;
    }
    .list > li > div > span::after{
        content: '';
        display:block;
        border-bottom:2px solid #00a5d7;
        width:15%;
        margin-top:10px;
    }
    
    .list > li > p{font-size:14px;}

    .list li > div > p:nth-of-type(1){margin-top:70px;}
    
    .list .set1 > div{margin:30px 0 0 30px;}
    .list .set2 > div{
        margin:30px 30px 0 0;
        order:2;
    }
    .list .set2 > div > p > br{display: none;}
    .list .set2 > img{
        order:1;
        width:100%;
        margin:0 auto;
    }
    .list .set3 > div{margin:30px 0 0 30px;}
    .list .set3 > div > p:nth-of-type(1) > br{display: none;}



    .pack{margin-bottom:50px;}
    .pack > p >img{
        max-width:1130px;
        width:100%;
    }
    .pack > h2{margin-bottom:30px;}
    .pack > h2::before{display: none;}
    .pack > h2::after{display: none;}



    footer{
        background-color: #00a5d7;
        text-align: center;
        padding:10px;
    }
    footer > p{
        color:white;
        font-size:16px;
    }
    footer > p:nth-child(1){
        line-height: 2;
        padding-top:40px;
        white-space: pre-wrap;
    }
}